*.iml
*.log
.idea/
dependency-reduced-pom.xml
target

# Avoid including generated definitions in git
mysql-replicator-augmenter-model/src/main/java/com/booking/replication/augmenter/model/definitions/
