[mysqld]
server_id        = 1
log-bin          = ./binlog
binlog-ignore-db = mysql
binlog-ignore-db = performance_schema
binlog_format    = ROW
binlog_row_image = full
max_binlog_size  = 1M
log_slave_updates