<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="60">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p][%t] %c{10}:%L - %m%n" />
    </Console>
</Appenders>
<Loggers>
    <Logger name="org.apache.kafka" level="warn" additivity="false">
        <AppenderRef ref="Console" />
    </Logger>
    <Logger name="org.apache.zookeeper" level="warn" additivity="false">
        <AppenderRef ref="Console" />
    </Logger>
    <Logger name="com.booking.replication.checkpoint.CoordinatorCheckpointApplier" level="warn" additivity="false">
        <AppenderRef ref="Console" />
    </Logger>
    <Logger name="com.github.shyiko.mysql.binlog" level="all" additivity="false">
        <AppenderRef ref="Console" />
    </Logger>
    <Root level="info">
        <AppenderRef ref="Console" />
    </Root>
</Loggers>
</Configuration>
